* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #333;
}


input {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    margin: 20px;
    outline: none;
}

input:focus {
    border: 1px solid red;
}


button {
    position: absolute;
    top:50%;
    background-color:#0a0ef5;
    color: #fff;
    border:none;
    border-radius:10px;
}

#error {
    font-weight: bold;
    display: block;
    color: #c62323;
    font-size: 20px;
    margin-left: 20px;
}